# Example environment variables for .env
GOOGLE_PROGRAMMABLE_SEARCH_API_KEY='<YOUR_GOOGLE_PROGRAMMABLE_SEARCH_API_KEY>' # !SECRET
GOOGLE_PROGRAMMABLE_SEARCH_CX='<YOUR_GOOGLE_PROGRAMMABLE_SEARCH_CX>' # !SECRET

STAGE=DEV
DEBUG=1
ALLOWED_ORIGINS='["*"]'

DB__TIMESCALE_CONNECTION_URI=postgresql+asyncpg://internet_crawler:123456@localhost:5432/tailm
DB__PGVECTOR_CONNECTION_URI=postgresql+asyncpg://internet_crawler:123456@localhost:5432/tailm
DB__REDIS_CONNECTION_URI=redis://:password123@localhost:6379/0

AUTH__SERVER_URL=http://localhost:8080/
AUTH__CLIENT_ID=med-ai-saas-app
AUTH__REALM_NAME=dev

APIKEYS__SECRET='<YOUR_APIKEYS__SECRET>' # !SECRET
APIKEYS__SECRET_LENGTH='<YOUR_APIKEYS__SECRET_LENGTH>' # !SECRET

OBJECTSTORAGE__S3_BUCKET_NAME='<YOUR_OBJECTSTORAGE__S3_BUCKET_NAME>' # !SECRET
OBJECTSTORAGE__S3_REGION_NAME='<YOUR_OBJECTSTORAGE__S3_REGION_NAME>' # !SECRET
OBJECTSTORAGE__S3_ACCESS_KEY_ID='<YOUR_OBJECTSTORAGE__S3_ACCESS_KEY_ID>' # !SECRET
OBJECTSTORAGE__S3_SECRET_ACCESS_KEY='<YOUR_OBJECTSTORAGE__S3_SECRET_ACCESS_KEY>' # !SECRET
OBJECTSTORAGE__S3_ENDPOINT_URL='<YOUR_OBJECTSTORAGE__S3_ENDPOINT_URL>' # !SECRET
OBJECTSTORAGE__S3_PRESIGNED_URL_EXPIRY_SECONDS=3600
OBJECTSTORAGE__REDIS_CACHE_EXPIRY_SECONDS=3600

MODELS_SETTINGS__GROQ_API_KEY='<YOUR_MODELS_SETTINGS__GROQ_API_KEY>' # !SECRET
MODELS_SETTINGS__OPENAI_API_KEY='<YOUR_MODELS_SETTINGS__OPENAI_API_KEY>' # !SECRET
MODELS_SETTINGS__OPENAI_BASE_URL='<YOUR_MODELS_SETTINGS__OPENAI_BASE_URL>' # !SECRET

ORG__KEYCLOAK_SERVICE_CLIENT_SECRET='<YOUR_ORG__KEYCLOAK_SERVICE_CLIENT_SECRET>' # !SECRET
ORG__KEYCLOAK_SERVICE_CLIENT_ID='<YOUR_ORG__KEYCLOAK_SERVICE_CLIENT_ID>' # !SECRET

CONVERSATION__CACHE_LIMIT=50
CONVERSATION__CACHE_TTL=600

APP_NAME=Med-AI-SaaS
APP_VERSION=0.1.0

OTEL__EXPORTER_OTLP_ENDPOINT=http://localhost:4317

# MOCK_AUTH=False
