# Example environment variables for .env
GOOGLE_PROGRAMMABLE_SEARCH_API_KEY='<YOUR_GOOGLE_PROGRAMMABLE_SEARCH_API_KEY>' # !SECRET
GOOGLE_PROGRAMMABLE_SEARCH_CX='<YOUR_GOOGLE_PROGRAMMABLE_SEARCH_CX>' # !SECRET

STAGE=DEV
DEBUG=1
ALLOWED_ORIGINS=*

DB_PGVECTOR_CONNECTION_URI='<YOUR_DB_PGVECTOR_CONNECTION_URI>' # !SECRET
DB_REDIS_CONNECTION_URI='<YOUR_DB_REDIS_CONNECTION_URI>' # !SECRET
DB_TIMESCALE_CONNECTION_URI='<YOUR_DB_TIMESCALE_CONNECTION_URI>' # !SECRET

AUTH_SERVER_URL='<YOUR_AUTH_SERVER_URL>' # !SECRET
AUTH_CLIENT_ID='<YOUR_AUTH_CLIENT_ID>' # !SECRET
AUTH_REALM_NAME='<YOUR_AUTH_REALM_NAME>' # !SECRET

APIKEYS_SECRET='<YOUR_APIKEYS_SECRET>' # !SECRET
APIKEYS_SECRET_LENGTH='<YOUR_APIKEYS_SECRET_LENGTH>' # !SECRET

OBJECTSTORAGE_S3_BUCKET_NAME='<YOUR_OBJECTSTORAGE_S3_BUCKET_NAME>' # !SECRET
OBJECTSTORAGE_S3_REGION_NAME='<YOUR_OBJECTSTORAGE_S3_REGION_NAME>' # !SECRET
OBJECTSTORAGE_S3_ACCESS_KEY_ID='<YOUR_OBJECTSTORAGE_S3_ACCESS_KEY_ID>' # !SECRET
OBJECTSTORAGE_S3_SECRET_ACCESS_KEY='<YOUR_OBJECTSTORAGE_S3_SECRET_ACCESS_KEY>' # !SECRET
OBJECTSTORAGE_S3_ENDPOINT_URL='<YOUR_OBJECTSTORAGE_S3_ENDPOINT_URL>' # !SECRET
OBJECTSTORAGE_S3_PRESIGNED_URL_EXPIRY_SECONDS=3600
OBJECTSTORAGE_REDIS_CACHE_EXPIRY_SECONDS=3600

MODELS_SETTINGS_GROQ_API_KEY='<YOUR_MODELS_SETTINGS_GROQ_API_KEY>' # !SECRET
MODELS_SETTINGS_OPENAI_API_KEY='<YOUR_MODELS_SETTINGS_OPENAI_API_KEY>' # !SECRET
MODELS_SETTINGS_OPENAI_BASE_URL='<YOUR_MODELS_SETTINGS_OPENAI_BASE_URL>' # !SECRET

KEYCLOAK_SERVICE_CLIENT_SECRET='<YOUR_KEYCLOAK_SERVICE_CLIENT_SECRET>' # !SECRET
KEYCLOAK_SERVICE_CLIENT_ID='<YOUR_KEYCLOAK_SERVICE_CLIENT_ID>' # !SECRET

CONVERSATION_CACHE_LIMIT=50
CONVERSATION_CACHE_TTL=600

APP_NAME=Med-AI-SaaS
APP_VERSION=0.1.0

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317

MOCK_AUTH=True

BILLING_SOURCE_STRIPE_SECRET_KEY='<YOUR_BILLING_SOURCE_STRIPE_SECRET_KEY>' # !SECRET
BILLING_SOURCE_STRIPE_WEBHOOK_SECRET='<YOUR_BILLING_SOURCE_STRIPE_WEBHOOK_SECRET>' # !SECRET
