# Example environment variables for .env
GROQ_API_KEY=<str>
GOOGLE_PROGRAMMABLE_SEARCH_API_KEY=<str>
GOOGLE_PROGRAMMABLE_SEARCH_CX=<str>

STAGE=<str>
DEBUG=<int>
OTLP_ENDPOINT=<str>
ALLOWED_ORIGINS=<path>

DB_POSTGRES_CONNECTION_URI=<path>
DB_REDIS_CONNECTION_URI=<path>

AUTH_SERVER_URL=<path>
AUTH_CLIENT_ID=<str>
AUTH_REALM_NAME=<str>

APIKEYS_SECRET=<str>
APIKEYS_SECRET_LENGTH=<int>